.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);;
    -fx-cursor: hand;
}

.button {
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-font-size: 16px;
    -fx-pref-width: 210px;
    -fx-pref-height: 28px;
    -fx-text-alignment: center;
    -fx-text-fill: #fff;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.text-field {
    -fx-font-size: 14px;
    -fx-text-fill: #656565;
    -fx-background-radius: 5%;
    -fx-border-radius: 5%;
}

.login-title {
    -fx-text-fill: #353535;
    -fx-font-family: 'Leelawadee UI';
    -fx-font-weight: bolder;
    -fx-font-size: 28px;
}

.link{
    -fx-text-fill: blue;
}
.link:hover{
    -fx-cursor: hand;
}

.link:visited{
   -fx-text-fill: purple;
}

.form-row{
    -fx-border-color: #858585;
    -fx-border-width: 0 0 2 0;
    -fx-start-margin: 15px;
}

.text-field{
    -fx-border: gone;
    -fx-background-insets: 0;
    -fx-font-weight: normal;
    -fx-background-color: parent;
}

.warn-tip {
    -fx-font-style: italic;
    -fx-text-fill: #F00;
    -fx-font-weight: lighter;
    -fx-font-size: 10px;
}


.form-box {
    -fx-effect: dropshadow(three-pass-box, #a5a5a5, 2.0,0, 1, 2);
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: #fff;
}

.black-ground {
    -fx-background-image: url("../image/login_blackground.jpg");
    -fx-background-repeat: repeat;
    -fx-background-size: 100% 110%;
}
